/* FormList.css */
.form-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.form-table th, .form-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.form-table th {
    background-color: #f4f4f4;
}

.form-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.form-table tr:hover {
    background-color: #f1f1f1;
}

.form-table td {
    vertical-align: top;
}

.form-table td button {
    margin-right: 10px;
}